.singleProduct {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.singleProductItem {
  margin-top: 2rem;
}

.singleProductImageWrapper {
  background-color: #fff;
  padding: 4rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--zinc-300);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.singleProductImage {
  height: 25rem;
}

.singleProductTextWrapper {
  display: flex;
  flex-direction: column;
}

.singleProductPrice {
  color: var(--green-600);
}

.singleProductInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.singleProductButtonWrapper {
  margin-top: auto;
  margin-bottom: 1px;
  display: flex;
}

.singleProductRating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.singleProductRating p {
  margin-top: 0.2rem;
}
